*{
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: sans-serif;
	user-select: none; /* disables user selection in entire document*/
	-mox-user-select:none;
	-webkit-user-select: none;
}

#toolbar{
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: #202020;
	position: fixed; /* fix it to top of canvas */
	top:0;
	color: #fff;
}

.tools{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;

}

#brush{
	width: 15%;
}

#brush .text{
	display: inline;
    margin-right: 10%;
    cursor: default;
}

.options{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: auto;
	float: left;
}

#title{
	display: inline-block;
	text-align: center;
	width: auto;
	position: relative;
	float: center;
	width: 45%;
	font-size: 30px; 
	text-transform: uppercase;
	font-weight: bold;
}

.bsb{
	width: 30px;
	height: 30px;
	padding: 5px;
	background-color: #606060;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#brush{
	float:left;
}



#color{
	float:right;
}

.shade{
	width: 30px !important;
	height: 30px !important;
	border-radius: 15px !important;
	display: inline-block !important;
	margin-left: 10px !important;
	cursor: pointer;
}

.shade.active{
	border:2px solid white;
}

#clear{
	float: left;
	width: 50px;
	height: 30px;
	padding: 5px;
	background-color: #606060;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#erase{
	float: left;
	width: 50px;
	height: 30px;
	padding: 5px;
	margin-left: 15px;
	background-color: #606060;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

#save{
	float: left;
	width: 50px;
	height: 30px;
	padding: 5px;
	margin-left: 15px;
	background-color: #606060;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#bsize{
	display: inline-block;
	width: 5%;
}

#canvas{
	cursor: crosshair;
}
